.calculator-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  
  .calculator .display {
    margin-bottom: 10px;
    border: 2px solid rgba(211, 211, 211, 0.593);
    border-radius: 5px;
  }
  
  .calculator .display input {
    width: 100%;
    height: 40px;
    font-size: 1.5rem;
    padding: 5px;
    text-align: right;
  }
  
  .calculator .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  .calculator .buttons button:hover {
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
  }
  
  .calculator .buttons button {
    width: 100%;
    height: 50px;
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid rgba(211, 211, 211, 0.593);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    text-align: right;
    margin-top: 5px;
  }

  .number{
    background-color:#ffffff;
  }
  
  .symbol{
    background-color: rgba(208, 208, 208, 0.971);
  }

  .equal{
    background-color: rgba(25, 64, 181, 0.899);
  }
  /* Hover effect for the equal button */
  .calculator .buttons button:nth-child(15):hover {
    background-color: #007bff; 
  }
  
  @media (max-width: 600px) {
    .calculator-popup {
      width: 90%; /* Make the calculator take up more of the screen width on mobile */
    }
  
    .calculator .buttons button {
      height: 40px; /* Slightly reduce button size on mobile */
      font-size: 1rem;
    }
}